
:root {
    --main-bg-color: #ddd;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    background: rgba(200, 200, 200, 0.75);
    border-bottom: 1px solid #ddd;
    padding: 1rem;
}

header h1 {
    margin: 0;
    padding: 0 0 1rem 0;
}

article {
    margin-top: 1rem;
}

.user-cards {
    margin: 0.5rem auto;
    max-width: 985px;
    opacity: 1;
    transition: opacity 0.5s;
}

.fade-out {
    opacity: 0;
}

.hide {
    display: none;
}

/* user-card-list {
    display: block;
    border: 1px solid orange;
} */

#my_dataviz {
    border: 2px dotted orange;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
}
