
:root {
    --main-bg-color: #ddd;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    background: rgba(200, 200, 200, 0.75);
    border-bottom: 1px solid #ddd;
    padding: 1rem;
}

header h1 {
    margin: 0;
    padding: 0 0 1rem 0;
}


/* Status */

nav#status {
    position: relative;
    padding-right: 1rem;
    width: 5rem;
    float: right;
}

nav#status:after {
    position: absolute;
    top: 4px;
    right: 0;
    display: block;
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: maroon;
}

nav#status ul {
    margin: 0 0 0 2rem;
    padding: 0;
    color: maroon;
    font-size: 0.75rem;
}

nav#status li[active] {
    color: green;
}



article {
    margin-top: 1rem;
}

.user-cards {
    margin: 0.5rem auto;
    max-width: 985px;
    opacity: 1;
    transition: opacity 0.5s;
}

.fade-out {
    opacity: 0;
}

.hide {
    display: none;
}



#my_dataviz {
    border: 2px dotted orange;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
}
