
article {
    margin-top: 1rem;
    border-top: 1px solid #eee;
}

.user-cards {
    margin: 0.5rem auto;
    max-width: 820px;
}

user-card {
    display: inline-block;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #ddd;
    border: 2px solid #aaa;
    border-radius: 1.5rem;
    width: 7rem;
    text-align: center;
    position: relative;
}

user-card.active {
    background: gold;
    border-color: orange;
}

user-card.active.notified {
    transition: all 0.5s;
    background-color: #ddd;
    border-color: #aaa;
}

user-card:before {
    /* Appropriate for SVGs, but these flicker on update */
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    content: " ";
    background-repeat: no-repeat;
    background-image: var(--url);
    background-size: auto auto;
    width: 25px;
    height: 25px;
    transition: all 0.5s, background-color 0.25s;

    border-radius: 12.5px;
}

/* These are not hidden by Clear Notifications button! */
user-card.supah:before {
    content: attr(notifications);
    background-color: maroon;
    background-image: none;

    color: #fff;
    font-family: Arial;
    font-size: 0.95rem;
    font-weight: bold;
    height: 25px;
    width: 25px;
    line-height: 1.6rem; /* Approximating the SVG */
    text-align: center;
    vertical-align: baseline;
    /* border-radius: 12.5px; */
}

user-card.updated:before {
    transform: rotateY(359deg);
}

user-card.active.supah:before {
    background-color: red;
}
